.ContactPage{
    height: calc(100vh - 105px);
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    padding: 0 8vw;
}

.ContactPage li{
    display: flex;
    align-items: center;
}

.ContactPage li p{
    margin-right: 10px;
}