.ResultsWall{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px 0px;
    max-width: 1900px;
}

.ResultsWall-static, .ResultsWall-realtime{
    display:flex;
    flex-flow: column;
    padding: 10px;
    background-color: #EEF3F7;
    border-radius: 10px;
}

.ResultsWall-static{
    width:75%;
}

.ResultsWall-realtime{
    margin-left: 20px;
    width: calc(25% - 20px);
}

@media (max-width: 1145px) {
    .ResultsWall-static{
        width:70%;
    }

    .ResultsWall-realtime{
        margin-left: 20px;
        width: calc(30% - 20px);
    }
}

@media (max-width: 1000px) {
    .ResultsWall-static{
        width:41vw;
    }

    .ResultsWall-realtime{
        width: 33vw;
    }
}

.ResultsWall ul {
    list-style-type: none;
    padding: 0;
    overflow: auto;
    margin: 0;
}

.ResultsWall .ResultsWall-static ul{
    display:flex;
    min-width: 100%;
    flex-wrap:wrap;
}

.ResultsWall .ResultsWall-realtime ul{
    display:flex;
    min-width: 100%;
    flex-wrap:wrap;
}

.ResultsWall ul li.static-tweet-wrapper, .ResultsWall ul li.rt-tweet-wrapper{

}

.ResultsWall ul li.rt-tweet-wrapper{
    max-width: 100%;
}

@media (max-width: 1000px){
    .ResultsWall ul li.static-tweet-wrapper{
        max-width: 100%;
    }
}

@media (min-width: 1001px){
    .ResultsWall ul li.static-tweet-wrapper{
        max-width:50%;
    }
}

@media (min-width: 1681px) {
    .ResultsWall ul li.static-tweet-wrapper {
        max-width: 33%;
    }
}

.ResultsWall h3 {
    color: #2C71A1;
    margin: 2px 0;
    border-bottom: 2px solid white;
    font-size: 14px;
    padding-bottom: 5px;
    z-index: 9999;
    box-shadow: 0 8px 6px -6px #0000001f;
}

.tweets-enter {
    opacity: 0.01;
}

.tweets-enter.tweets-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.tweets-leave {
    opacity: 1;
}

.tweets-leave.tweets-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.tweets-appear {
    opacity: 0.01;
}

.tweets-appear.tweets-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

@media (max-width: 599px){

    .ResultsWall{
        flex-flow: column;
    }

    .ResultsWall .ResultsWall-static{
        margin-bottom: 20px;
        width: unset;
    }

    .ResultsWall .ResultsWall-realtime{
        width: unset;
        margin-left: 0;
    }

    .ResultsWall ul {
        width: unset;
        max-width: unset;
        max-height: 400px
    }

    .ResultsWall .ResultsWall-static ul{
        width: unset;
        max-width: unset;
        max-height: 400px
    }
}