.SearchBar{
    /*height: calc(100vh - 50px);*/
    width: 100%;
    margin-top: 20px;
    max-width: 1900px;
}

.SearchBar form{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 10px;
    background: #eef3f7;
    flex-wrap: wrap;
    font-size: 14px;
}

.SearchBar form input{
    color: #2C71A1;
}

.SearchBar-left{
    display: flex;
    padding: 5px 0;
    flex-flow: column;
}

.SearchBar-right{
    display: flex;
    padding: 5px 0;
    flex-flow: column;
}

.SearchBar-input-container{
    display:flex;
}

.SearchBar-input{
    background-image: url(magnifying-glass.svg);
    background-position: 97% 50%;
    background-repeat: no-repeat;
    border: 1px solid #2C71A1;
    padding: 8px;
    padding-right: 28px;
    background-size: 20px 20px;
    border-radius: 10px;
    min-width: 40vw;
}

.SearchBar-input-pair{
    display: flex;
    align-items: center;
}

.SearchBar-input-pair.down{
    margin-top: 10px;
}

.SearchBar-input-pair p{
    margin: 2px 0px;
}

.SearchBar-input-pair p.switch{
    margin: 2px 10px 2px 0px;
}

.SearchBar-input:focus, .SearchBar-submit:focus, .SearchBar-stop:focus, .SearchBar-number:focus, .SearchBar-timeout:focus{
    outline: none;
    border: 1px solid blue;
    box-shadow: 0px 0px 25px -3px #2C71A1;
}

.SearchBar-left .SearchBar-number, .SearchBar-right .SearchBar-timeout{
    max-width: 50px;
    background: white;
}

.SearchBar-submit, .SearchBar-stop{
    cursor: pointer;
}

.SearchBar-submit, .SearchBar-stop, .SearchBar-number, .SearchBar-timeout{
    border-radius: 10px;
    background: white;
    border: 1px solid #2C71A1;
    margin-left: 10px;
    padding: 8px;
}

.SearchBar-progress{
    width:32px;
    margin-left:5px;
}


