APP_SETTINGS="config.DevelopmentConfig"
DATETIME_FORMAT="%Y-%m-%d %H:%M:%S" # default: "%Y-%m-%d %H:%M:%S"
INDEXFILE_PATH="myindex.txt"

TWITTER_CONSUMER_KEY = "consumer-key"
TWITTER_CONSUMER_SECRET = "consimer-secret"
TWITTER_ACCESS_TOKEN_KEY = "access-token"
TWITTER_ACCESS_TOKEN_SECRET = "access-secret"

MS_VISION_KEY = 'ms-vision-api-key'

# For scheduler job (ping)
KEEP_ALIVE = "0" # 1: keep ping to server, 0: Nothing (default)
PING_EVERY_X_MINUTES = "15" # ping server every X minutes (default: 15 minutes)
DOMAIN_URL = "http://127.0.0.1:5000"
