APScheduler==3.5.3
asn1crypto==0.24.0
azure-common==1.1.18
azure-storage-blob==1.4.0
azure-storage-common==1.4.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.5
Flask==1.0.2
Flask-Cors==3.0.7
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
nltk==3.4
oauthlib==3.0.0
pycparser==2.19
PySocks==1.6.8
python-dateutil==2.7.5
python-dotenv==0.10.1
pytz==2018.9
requests==2.21.0
requests-oauthlib==1.2.0
singledispatch==3.4.0.3
six==1.12.0
tweepy==3.7.0
tzlocal==1.5.1
urllib3==1.24.1
Werkzeug==0.14.1
